a {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.margin {
  margin-left: 25px;
}

.header {
  .logo {
    width: 102px;
    height: 30px;
    padding: 10px 25px;
  }

  .signIn {
    font-size: 14px;
    text-decoration: underline;
  }
}

.thanksBanner {
  background-color: #004977;
  height: 55px;

  p {
    color: white;
    padding-top: 10px;
    padding-left: 5px;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
  }
}

.infoBodyOne {
  padding-top: 20px;
}

.infoBodyOne,
.infoBodyTwo {

  p {
    padding-left: 5px;
    padding-bottom: 6px;
  }

  .name {
    text-transform: uppercase;
  }
}

.infoBodyThree {

  p {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 5px;
  }
}

.price-Date {
  margin-left: 65px;
}

hr {
  width: 538px;
}

.poll {

  p {
    padding-top: 16px;
    padding-left: 5px;
  }
}

.icon {
  img {
    margin-left: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
    width: 48px;
    height: 48px;
    color: #0a0a0a;
  }

  p {
    font-size: 14px;
  }
}

.phone {
  padding-top: 20px;
  background-color: #e8e4e7;
  border-bottom: 1px solid black;

  img {
    width: 48px;
    height: 48px;
  }
}

.phoneText {
  padding-top: 20px;
  background-color: #e8e4e7;
  border-bottom: 1px solid black;

  p {
    font-size: 12px;
    padding-left: 0;
    margin: 0;
  }
}

.footer {
  padding-top: 20px;
  background-color: #e8e4e7;
  p {
    padding: 0 0 5px 8px;
    font-size: 10px;
    color: #666666;

    a {
      color: #666666;
    }
  }

}