a {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.margin {
  margin-left: 25px;
}

.header {
  .logo {
    width: 102px;
    height: 30px;
    padding: 10px 25px;
  }

  .signIn {
    font-size: 14px;
    text-decoration: underline;
  }
}

.thanksBanner {
  background-color: #004977;
  height: 55px;

  p {
    color: white;
    padding-top: 25px;
    font-weight: 400;
    font-size: 20px;
  }
}

.infoBodyOne {
  padding-top: 20px;
}

.infoBodyOne,
.infoBodyTwo {
  p {
    padding-bottom: 6px;
  }
  .name {
    text-transform: uppercase;
  }
}

hr {
  width: 538px;
}

.poll {
  p {
    padding-top: 8px;
  }
}

.phone,
.phoneText {
  padding-top: 20px;

  background-color: #e8e4e7;
  border-bottom: 1px solid black;

  // img {
  //   width: 48px;
  //   height: 48px;
  // }

  p {
    font-size: 12px;
    padding-left: 0;
    margin: 0;
  }
}


.footer {
  padding-top: 20px;
  background-color: #e8e4e7;

  p {
    padding: 0 0 5px 8px;
    font-size: 10px;
    color: #666666;

    a {
      color: #666666;
    }
  }
}


/* Small only */
@media only screen and (max-width: #{$global-breakpoint}) {

  .header {
    .signIn {
      p {
        margin-bottom: 18px !important;
      }
    }
  }

  .phoneText {
    .secondText {
      margin-bottom: 26px !important;
    }
      
  }
}